@using ResmeProject.Models
@model List<TblProfile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>Kullanıcı Detayları</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Profil Adı</th>
        <th>Profil Açıklaması</th>
        <th>İsim</th>
        <th>Mail</th>
        <th>Şehir</th>
        <th>Telefon</th>
        <th>Linkedin Hesabı</th>
        <th>GitHub Hesabı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@item.ProfileID</td>
            <td>@item.ProfileTitle</td>
            <td>@item.ProfileDescription</td>
            <td>@item.Name</td>
            <td>@item.Mail</td>
            <td>@item.Adress</td>
            <td>@item.Phone</td>
            <td>@item.SocialMedia1</td>
            <td>@item.SocialMedia2</td>
            <td><a href="/Profile/DeleteProfile/@item.ProfileID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Profile/UpdateProfile/@item.ProfileID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Profile/AddProfile/" class="btn btn-primary">Yeni Kullanıcı Girişi</a>